.main {
    padding-top: 120px;
    height: 100vh;
    display: flex;
    justify-content: flex-start; /* aligns children to start (left) */
    align-items: center;
    background: url(./images/main.jpg) no-repeat center center;
    background-size: cover;
    padding-left: 10%; /* gives some space from left */
}
